body {
    height: 100vh;
    background-color: antiquewhite;
    background-image: url(https://wallpaperaccess.com/full/898026.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.section-one {
    position: relative;
    padding-right: 30px;
    margin-left: 40px
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: antiquewhite;
    font-family: 'Caveat', cursive;
    font-size: 30px;
}


a:hover {
    color: #A8D1D1
}

.nav-bar {
    display: flex;
    gap: 30px;
    max-width: 1300px;
    width: 100%;
    height: 60px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

}

.fa-solid {
    color: antiquewhite;
    font-size: 30px;
}


.list {
    display: flex;
    gap: 40px;
}


.toggle-btn {
    cursor: pointer;
    display: none;
}



.drop-menu {

    display: none;
    position: absolute;
    top: 60px;
    height: 0;
    right: 30px;
    width: 200px;
    background: #86A3B8;
    text-align: center;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


.drop-menu.open {
    height: 250px;
}


.drop-menu li {
    padding: 12px;
}



@media screen and (max-width: 768px) {

    .nav-bar .list {
        display: none;
    }

    .nav-bar .toggle-btn {
        display: block;

    }

    .drop-menu {
        display: block;
    }
}